body {
    background-color: #ebd59b;
}

h1,
h2 {
    font-weight: bold;
    color: #0a0550;
}

p {
    margin-left: 20px;
    text-align: justify;
}

nav {
    background-color: #0a0550;
}

li.nav-item {
    margin-right: 20px;
}

p.card-text {
    text-align: center;
    font-size: larger;
}

#alap {
    background-color: white;
}

a {
    text-decoration: none;
    color:#8b0000
}
a:hover{
    color:#8b0000
}
:active{
    color: #8b0000;
}
a:visited{
    color: #8b0000;
}